<p id="notice"><%= notice %></p>

<% if @user %>
  <%= @user.name %><br />
  <%= @user.hashed_password %><br />
<% end %>

<%= link_to "Create character", action: 'new', controller: 'characters' %>

<% if !@user.characters.empty? %>
  <%= "stuff" %>
<% else %>
  "No characters"
<% end %>
