
<table>
  <thead>
    <th>Name</th>
    <th>Race</th>
    <th>Class</th>
    <th>User</th>
  </thead>
  <tbody>
    <tr>
      <% if @character %>
        <td><%= @character.name %></td>
        <td><%= @character.race.name %></td>
        <td><%= @character.pc_class.name %></td>
        <td><%= @character.user.name %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'User Home', user_path(session[:user_id]) %>
